/* header_style.css */
#main_header{
  width: 100%; height: 120px;
  border-top: 2px solid #000;
  background-color: #f6f5ef;

  position: fixed;
  left: 0; top: 0;
  z-index: 100;
}

  /** 로고 & 상단메뉴 **/
  .h_top{
    width: 1100px; height: 54px; 
    margin: 0 auto;
    position: relative;
  }
    /* 로고 */
    #logo{
      position: absolute;
      left: 0; top: 22px;
    }
      #logo > a{
        width: 75px; height: 75px;
        background: url(../img/starbucks_logo.png);
        text-indent: -6000px;
        overflow: hidden;
      }

    #top_nav_wrap{
      position: absolute;
      right: 54px; top: 9px;

      display: flex;
      justify-content: space-between;
    }
      /* 상단메뉴 */
      #top_nav{
        /*float: left;*/
        width: 452px; height: 34px;
      }
        #top_nav > ul{ 
          display: flex;
          /*overflow: hidden;*/
        }
          #top_nav > ul > li{
            /*float: left;*/
            background: url(../img/line.png) no-repeat right center;
            padding-right: 20px;
            margin-right: 17px;
          }
          #top_nav > ul > li:last-child{
            background: none;
            padding-right: 0;
            margin-right: 0;
          }
            #top_nav > ul > li > a{
              color: #555;
              font-size: 12px;
              line-height: 34px;
            }
      /* 검색폼 */
      #searchF{
        /*float: right;*/
        width: 34px;
        height: 34px;
        box-sizing: border-box;/* width height 값내에 border와 padding 포함되도록 함 */
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 5px;

        position: relative;
        overflow: hidden;

        transition-duration: 300ms;
      }
        #search_btn,
        #searchF > label{
          width: 32px; height: 32px;
          box-sizing: border-box;
          padding-left: 5px;
          padding-top: 6px;
          position: absolute;
          right: 0; top: 0;
        }
        #search_btn{}
        #searchF > label{ 
          text-indent: -6000px; overflow: hidden;
        }

        #search_txt{
          width: 148px; 
          line-height: 32px;
          box-sizing: border-box;
          padding: 0 5px;
          position: absolute;
          right: 32px;
        }

  /** 메인메뉴 **/
  #main_nav{
    width: 1100px; height: 66px;
    margin: 0 auto;
  }
    #main_nav > ul{
      display: flex;
      float: right;
    }
      #main_nav > ul > li{}
      #main_nav > ul > li:hover{
        background-color: #2c2a29;
      }
        #main_nav > ul > li > h2{}
          #main_nav > ul > li > h2 > a{
            height: 43px;
            color: #333;
            line-height: 43px;
            padding: 0 24px 23px;
            font-size: 13px;
          }
          #main_nav > ul > li:hover > h2 > a{
            color: #5f8c04;
          }

        /* 세부메뉴 */
        #main_nav > ul > li > .sub_nav{
          width: 100%; height: 0;
          overflow: hidden;
          transition-duration: 300ms;

          position: absolute;
          left: 0; top: 120px;
          background-color: #2c2a29;
        }
        #main_nav > ul > li:nth-of-type(1):hover > .sub_nav{
          height: 557px;
        }
        #main_nav > ul > li:nth-of-type(2):hover > .sub_nav{
          height: 364px;
        }
        #main_nav > ul > li:nth-of-type(3):hover > .sub_nav{
          height: 276px;
        }
        #main_nav > ul > li:nth-of-type(4):hover > .sub_nav{
          height: 298px;
        }
        #main_nav > ul > li:nth-of-type(5):hover > .sub_nav{
          height: 298px;
        }
        #main_nav > ul > li:nth-of-type(6):hover > .sub_nav{
          height: 320px;
        }

          #main_nav .sub_nav_t{}
          #main_nav .sub_nav_b{
            background: url(../img/gnb_sub_txbg.jpg);
          }

            #main_nav .inner{
              width: 1100px;
              margin: 0 auto;
            }
            /* 세부메뉴 영역 상단부분 */
            #main_nav .sub_nav_t > .inner{
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 10px;
            }
              #main_nav .sub_nav_t ul{
                width: 20%;
                margin-bottom: 10px;
              }
                #main_nav .sub_nav_t ul > li{}
                #main_nav .sub_nav_t ul > li.sub_nav_ttl{
                  margin-top: 10px;
                }
                  #main_nav .sub_nav_t ul > li > a{
                    color: #999;
                    line-height: 22px;
                    font-size: 12px;
                  }
                  #main_nav .sub_nav_t ul > li.sub_nav_ttl > a{
                    color: #fff;
                    line-height: 40px;
                    font-size: 14px;
                  }

            /* 세부메뉴 영역 하단부분 */
            #main_nav .sub_nav_b > .inner{
              font-size: 12px;
              padding-top: 30px;
              padding-bottom: 17px;
            }
                  #main_nav .sub_nav_b h3{}
                    #main_nav .sub_nav_b h3 > a{
                      color: #999;
                      font-weight: 700;
                    }
                  #main_nav .sub_nav_b p{
                    color: #64a70b;
                    margin-bottom: 8px;
                  }